Machine Learning Model Development
Task : Develop and deploy a machine learning model to solve a specific business problem.

Details:

Problem Definition: Identify a business problem that can be addressed with machine learning.
Data Collection: Gather and preprocess relevant data.
Model Selection: Choose and implement machine learning algorithms (e.g., classification, regression,
clustering).
Evaluation: Assess model performance using metrics like accuracy, precision, recall, and F1 score.
Deployment: Deploy the model into a production environment or integrate it with an application.
Where to Do It:
Jupyter Notebook: Develop and test machine learning models.
Google Colab: Use for developing models with cloud-based resources.
AWS SageMaker: Deploy and manage machine learning models on AWS.

# Defining fraud with model

In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA, TruncatedSVD
import matplotlib.patches as mpatches
import time

In [2]:
data=pd.read_csv('creditcard.csv')

In [3]:
data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11954,20631,1.504204,-0.411728,0.200090,-0.778753,-0.442232,-0.119677,-0.782660,-0.165178,0.691819,...,-0.136231,-0.217274,-0.143260,-1.057332,0.529188,-0.235062,-0.012089,0.000905,9.00,0.0
11955,20636,1.134994,0.096340,0.277921,0.319692,0.742800,1.611803,-0.458649,0.390012,1.424541,...,-0.395605,-0.743542,0.222256,-1.859104,-0.109777,0.279049,0.012398,-0.009090,0.99,0.0
11956,20638,-6.305012,3.944886,-4.707362,1.539602,-3.934785,-1.730565,-2.104936,3.843447,0.863458,...,0.073140,-0.039935,-0.108896,0.691434,-0.261979,-0.447540,0.212900,-0.031021,89.99,0.0
11957,20638,1.161960,-0.398297,1.123732,-0.474237,-1.226667,-0.519325,-0.804179,0.070134,3.262926,...,-0.121191,0.097255,0.050903,0.330479,0.315692,-0.712765,0.073836,0.028055,11.85,0.0
11958,20642,1.291096,-0.226628,0.708386,-0.719236,-0.659099,-0.273757,-0.612042,-0.111488,3.032258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Function quick overview**

In [9]:
def quick_overview(data):

    for col in data.columns:
        if data[col].dtype == 'object':
            data[col] = pd.to_numeric(data[col].str.replace(',','', regex=False), errors='ignore')

    print("===== SHAPE =====")
    print(data.shape)

    print("\n===== INFO =====")
    print(data.info())

    print("\n===== MISSING VALUES =====")
    print(data.isnull().sum())

    print("\n===== UNIQUE VALUES =====")
    print(data.nunique())

    print("\n=====Categorical columns=====")
    categorical_cols = data.select_dtypes(include='object').columns
    print(categorical_cols)

    print("\n=====Numeric columns======")
    numeric_cols = data.select_dtypes(include='number').columns
    print(numeric_cols)

    if len(numeric_cols) > 0:
        print("\n===== BASIC STATISTICS =====")
        print(data[numeric_cols].describe().T)

        print("\n===== MEDIAN =====")
        print(data[numeric_cols].median())

        print("\n===== QUANTILES =====")
        print(data[numeric_cols].quantile([0.25, 0.5, 0.75]))

    print("\n===== DUPLICATES =====")
    print(data.duplicated().sum())

    print("\n===== CORRELATION =====")
    print(data.corr())

    print("\n===== Describe =====")
    print(data.describe())

    print("\n===== COLUMNS =====")
    print(data.columns)



    return data

In [10]:
quick_overview(data)

===== SHAPE =====
(11959, 31)

===== INFO =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11959 entries, 0 to 11958
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    11959 non-null  int64
 1   V1      11959 non-null  float64
 2   V2      11959 non-null  float64
 3   V3      11959 non-null  float64
 4   V4      11959 non-null  float64
 5   V5      11959 non-null  float64
 6   V6      11959 non-null  float64
 7   V7      11959 non-null  float64
 8   V8      11959 non-null  float64
 9   V9      11959 non-null  float64
 10  V10     11959 non-null  float64
 11  V11     11959 non-null  float64
 12  V12     11959 non-null  float64
 13  V13     11959 non-null  float64
 14  V14     11959 non-null  float64
 15  V15     11959 non-null  float64
 16  V16     11959 non-null  float64
 17  V17     11959 non-null  float64
 18  V18     11959 non-null  float64
 19  V19     11959 non-null  float64
 20  V20     11958 non-null  float64
 21  V21     11958 non-null  float64
 22  V22     11958 non-null  float64
 23  V23     11958 non-null  float64
 24  V24     11958 non-null  float64
 25  V25     11958 non-null  float64
 26  V26     11958 non-null  float64
 27  V27     11958 non-null  float64
 28  V28     11958 non-null  float64
 29  Amount  11958 non-null  float64
 30  Class   11958 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 2.8 MB
None

===== MISSING VALUES =====
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

===== UNIQUE VALUES =====
Time       7916
V1        11668
V2        11668
V3        11668
V4        11668
V5        11668
V6        11668
V7        11668
V8        11668
V9        11668
V10       11668
V11       11668
V12       11668
V13       11668
V14       11668
V15       11668
V16       11668
V17       11668
V18       11668
V19       11668
V20       11667
V21       11667
V22       11667
V23       11667
V24       11667
V25       11667
V26       11667
V27       11667
V28       11667
Amount     4186
Class         2
dtype: int64

=====Categorical columns=====
Index([], dtype='object')

=====Numeric columns======
Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

===== BASIC STATISTICS =====
          count         mean          std        min          25%  \
Time    11959.0  8009.996822  6204.332248   0.000000  2542.000000
V1      11959.0    -0.216230     1.583914 -27.670569    -0.978944
V2      11959.0     0.277097     1.308884 -34.607649    -0.261503
V3      11959.0     0.889505     1.331824 -22.804686     0.417186
V4      11959.0     0.282606     1.478162  -4.657545    -0.622456
V5      11959.0    -0.086585     1.191776 -32.092129    -0.688114
V6      11959.0     0.139986     1.306285 -23.496714    -0.622521
V7      11959.0    -0.121943     1.153899 -26.548144    -0.591335
V8      11959.0    -0.048727     1.246823 -23.632502    -0.185243
V9      11959.0     0.911579     1.192349  -7.175097     0.196741
V10     11959.0    -0.285865     1.173549 -14.166795    -0.734696
V11     11959.0     0.820266     1.183516  -2.595325     0.013157
V12     11959.0    -1.442642     1.542860 -17.769143    -2.434287
V13     11959.0     0.934682     1.185540  -3.389510     0.096362
V14     11959.0     0.782071     1.297608 -19.214325     0.181975
V15     11959.0    -0.179180     0.985644  -4.152532    -0.773601
V16     11959.0    -0.024968     0.926829 -12.227189    -0.510494
V17     11959.0     0.379550     1.106732 -18.587366    -0.104358
V18     11959.0    -0.022419     0.827064  -8.061208    -0.463891
V19     11959.0    -0.065877     0.825127  -4.932733    -0.554455
V20     11958.0     0.022534     0.575860 -13.276034    -0.155358
V21     11958.0    -0.061474     0.918705 -11.468435    -0.268151
V22     11958.0    -0.153850     0.626631  -8.593642    -0.543613
V23     11958.0    -0.033709     0.505355 -19.254328    -0.171833
V24     11958.0     0.017113     0.591394  -2.512377    -0.333251
V25     11958.0     0.104794     0.429413  -4.781606    -0.144092
V26     11958.0     0.062891     0.561603  -1.338556    -0.353864
V27     11958.0     0.008320     0.405100  -7.976100    -0.080064
V28     11958.0     0.000271     0.261230  -3.575312    -0.015461
Amount  11958.0    62.352617   178.247010   0.000000     5.000000
Class   11958.0     0.004349     0.065803   0.000000     0.000000

                50%           75%           max
Time    6662.000000  12382.000000  20642.000000
V1        -0.340742      1.161273      1.960497
V2         0.256346      0.883626      9.092123
V3         0.951223      1.613678      4.101716
V4         0.213029      1.159141     11.927512
V5        -0.183847      0.346298     34.099309
V6        -0.146903      0.508432     21.393069
V7        -0.094876      0.431657     34.303177
V8         0.013616      0.267560      5.499963
V9         0.894911      1.589120     10.392889
V10       -0.361219      0.147961     12.259949
V11        0.771773      1.631154     12.018913
V12       -1.778586     -0.131637      3.774837
V13        1.015535      1.821011      4.465413
V14        1.047427      1.530422      5.748734
V15       -0.042979      0.505024      3.635042
V16        0.051214      0.542400      4.816252
V17        0.372768      0.863136      9.253526
V18        0.031698      0.477780      4.295648
V19       -0.064862      0.462036      4.555359
V20       -0.031566      0.147281      8.012574
V21       -0.130062      0.021687     22.614889
V22       -0.124900      0.234029      4.534454
V23       -0.044299      0.075686     13.876221
V24        0.072099      0.401798      3.200201
V25        0.143136      0.380076      5.525093
V26        0.001972      0.409231      3.517346
V27       -0.003039      0.106344      8.254376
V28        0.015452      0.073171      4.860769
Amount    15.950000     50.000000   7712.430000
Class      0.000000      0.000000      1.000000

===== MEDIAN =====
Time      6662.000000
V1          -0.340742
V2           0.256346
V3           0.951223
V4           0.213029
V5          -0.183847
V6          -0.146903
V7          -0.094876
V8           0.013616
V9           0.894911
V10         -0.361219
V11          0.771773
V12         -1.778586
V13          1.015535
V14          1.047427
V15         -0.042979
V16          0.051214
V17          0.372768
V18          0.031698
V19         -0.064862
V20         -0.031566
V21         -0.130062
V22         -0.124900
V23         -0.044299
V24          0.072099
V25          0.143136
V26          0.001972
V27         -0.003039
V28          0.015452
Amount      15.950000
Class        0.000000
dtype: float64

===== QUANTILES =====
         Time        V1        V2        V3        V4        V5        V6  \
0.25   2542.0 -0.978944 -0.261503  0.417186 -0.622456 -0.688114 -0.622521
0.50   6662.0 -0.340742  0.256346  0.951223  0.213029 -0.183847 -0.146903
0.75  12382.0  1.161273  0.883626  1.613678  1.159141  0.346298  0.508432

            V7        V8        V9  ...       V21       V22       V23  \
0.25 -0.591335 -0.185243  0.196741  ... -0.268151 -0.543613 -0.171833
0.50 -0.094876  0.013616  0.894911  ... -0.130062 -0.124900 -0.044299
0.75  0.431657  0.267560  1.589120  ...  0.021687  0.234029  0.075686

           V24       V25       V26       V27       V28  Amount  Class
0.25 -0.333251 -0.144092 -0.353864 -0.080064 -0.015461    5.00    0.0
0.50  0.072099  0.143136  0.001972 -0.003039  0.015452   15.95    0.0
0.75  0.401798  0.380076  0.409231  0.106344  0.073171   50.00    0.0

[3 rows x 31 columns]

===== DUPLICATES =====
44

===== CORRELATION =====
            Time        V1        V2        V3        V4        V5        V6  \
Time    1.000000  0.056447 -0.012317  0.003468  0.088754 -0.083616 -0.009744
V1      0.056447  1.000000 -0.181934  0.045420 -0.016434 -0.122367  0.040685
V2     -0.012317 -0.181934  1.000000 -0.201657  0.113106 -0.084510  0.003356
V3      0.003468  0.045420 -0.201657  1.000000 -0.107301  0.063563 -0.086819
V4      0.088754 -0.016434  0.113106 -0.107301  1.000000 -0.118141 -0.008111
V5     -0.083616 -0.122367 -0.084510  0.063563 -0.118141  1.000000  0.143735
V6     -0.009744  0.040685  0.003356 -0.086819 -0.008111  0.143735  1.000000
V7     -0.149356  0.069193  0.037507  0.325314 -0.160716 -0.019458 -0.001664
V8      0.015186  0.191019 -0.155002 -0.042727  0.049010  0.069891 -0.015566
V9      0.428389 -0.032614 -0.119708  0.222201 -0.210092 -0.039409  0.009776
V10    -0.176272 -0.094546  0.057141  0.240027 -0.030776  0.135091  0.093666
V11     0.301721 -0.030022  0.102892 -0.225935  0.097562 -0.090723 -0.116190
V12    -0.561116  0.025463 -0.071964  0.214326 -0.200736  0.053599 -0.016522
V13     0.434941  0.061061  0.004782  0.004003  0.100022  0.046515  0.043228
V14     0.341112  0.207498 -0.180447  0.330958 -0.153955  0.035822  0.100444
V15    -0.244446  0.061313  0.071449 -0.174745 -0.154228  0.121138 -0.086047
V16     0.015112  0.190462 -0.115641  0.063199 -0.183123  0.147162  0.070895
V17     0.216543  0.116502 -0.100808  0.240931  0.025724  0.024491  0.060243
V18     0.072465 -0.005180  0.017477  0.066862 -0.045040  0.101117  0.032486
V19    -0.043928  0.013868 -0.033532 -0.063785 -0.015039  0.000856  0.098215
V20    -0.057136 -0.041303  0.069272 -0.070267 -0.034921 -0.002703  0.019143
V21    -0.029807 -0.121345  0.146906 -0.017114 -0.019771 -0.044314  0.075927
V22     0.006645 -0.019366 -0.127301  0.220289  0.002334 -0.116844 -0.061350
V23     0.005798 -0.092595  0.047665 -0.007060 -0.007099 -0.045369  0.020683
V24    -0.023398 -0.007434 -0.031936  0.027936 -0.051921  0.022534  0.026314
V25     0.063984  0.251542 -0.161478 -0.138781 -0.069005 -0.022202  0.080660
V26     0.046450  0.003688 -0.049651  0.032473  0.062954 -0.099837 -0.034355
V27    -0.031346 -0.120444  0.048667 -0.169886  0.032904 -0.026166 -0.069156
V28    -0.018850  0.085326 -0.034610 -0.030189 -0.000978 -0.102840 -0.007618
Amount -0.021862 -0.183143 -0.439807 -0.139992  0.120201 -0.375739  0.218381
Class   0.037934 -0.148241  0.201002 -0.451154  0.273344 -0.125097 -0.107791

              V7        V8        V9  ...       V21       V22       V23  \
Time   -0.149356  0.015186  0.428389  ... -0.029807  0.006645  0.005798
V1      0.069193  0.191019 -0.032614  ... -0.121345 -0.019366 -0.092595
V2      0.037507 -0.155002 -0.119708  ...  0.146906 -0.127301  0.047665
V3      0.325314 -0.042727  0.222201  ... -0.017114  0.220289 -0.007060
V4     -0.160716  0.049010 -0.210092  ... -0.019771  0.002334 -0.007099
V5     -0.019458  0.069891 -0.039409  ... -0.044314 -0.116844 -0.045369
V6     -0.001664 -0.015566  0.009776  ...  0.075927 -0.061350  0.020683
V7      1.000000  0.120407  0.028163  ... -0.143186  0.059007  0.055354
V8      0.120407  1.000000 -0.086241  ... -0.360904  0.183059 -0.078302
V9      0.028163 -0.086241  1.000000  ...  0.001041  0.028323  0.002344
V10     0.251881 -0.130763  0.114276  ...  0.042266 -0.125064  0.067312
V11    -0.200991  0.026175  0.055642  ...  0.011743  0.057590  0.047562
V12     0.249565 -0.089235 -0.206839  ...  0.063267  0.088480 -0.008958
V13    -0.034791 -0.014404  0.211366  ... -0.035699 -0.042493  0.005739
V14     0.089745 -0.027537  0.268276  ... -0.011006 -0.086959  0.054106
V15     0.093833 -0.027135 -0.211866  ...  0.035934  0.044196  0.006839
V16     0.114037 -0.005572 -0.036641  ... -0.037501 -0.134537  0.032269
V17     0.142280 -0.048923  0.242614  ... -0.005110 -0.025939  0.095363
V18     0.123713 -0.027621  0.111389  ...  0.015722 -0.039162 -0.029977
V19    -0.053301  0.030428 -0.073741  ...  0.011210 -0.027869 -0.046048
V20     0.061868  0.074142  0.010556  ... -0.289979  0.108968 -0.096855
V21    -0.143186 -0.360904  0.001041  ...  1.000000 -0.328780  0.152964
V22     0.059007  0.183059  0.028323  ... -0.328780  1.000000 -0.079888
V23     0.055354 -0.078302  0.002344  ...  0.152964 -0.079888  1.000000
V24     0.012936  0.020846  0.008747  ... -0.045074  0.013846  0.026488
V25    -0.063077  0.007297  0.163071  ...  0.019027 -0.076203  0.050182
V26    -0.081124  0.016497  0.062896  ... -0.019079 -0.050151  0.033183
V27    -0.171404  0.044823 -0.070127  ...  0.017719 -0.047484 -0.025524
V28    -0.030151  0.078073 -0.075748  ...  0.034619 -0.034357  0.078175
Amount  0.286749 -0.065983 -0.013189  ...  0.011179 -0.010051 -0.160372
Class  -0.321780  0.052971 -0.201843  ...  0.026382  0.013931 -0.040130

             V24       V25       V26       V27       V28    Amount     Class
Time   -0.023398  0.063984  0.046450 -0.031346 -0.018850 -0.021862  0.037934
V1     -0.007434  0.251542  0.003688 -0.120444  0.085326 -0.183143 -0.148241
V2     -0.031936 -0.161478 -0.049651  0.048667 -0.034610 -0.439807  0.201002
V3      0.027936 -0.138781  0.032473 -0.169886 -0.030189 -0.139992 -0.451154
V4     -0.051921 -0.069005  0.062954  0.032904 -0.000978  0.120201  0.273344
V5      0.022534 -0.022202 -0.099837 -0.026166 -0.102840 -0.375739 -0.125097
V6      0.026314  0.080660 -0.034355 -0.069156 -0.007618  0.218381 -0.107791
V7      0.012936 -0.063077 -0.081124 -0.171404 -0.030151  0.286749 -0.321780
V8      0.020846  0.007297  0.016497  0.044823  0.078073 -0.065983  0.052971
V9      0.008747  0.163071  0.062896 -0.070127 -0.075748 -0.013189 -0.201843
V10     0.043368  0.000467  0.026179 -0.132422 -0.120100 -0.081574 -0.383169
V11     0.017328 -0.108820  0.073684  0.028366 -0.011652 -0.030885  0.327079
V12     0.038461  0.024383 -0.065424 -0.005666  0.014845  0.001825 -0.381869
V13    -0.009371  0.036437  0.080405 -0.055221 -0.008557  0.017527 -0.023132
V14     0.046844 -0.000048  0.040517 -0.114486  0.069281 -0.014030 -0.535340
V15    -0.000663 -0.106337 -0.070466  0.033175 -0.026523 -0.054889 -0.004348
V16     0.026741  0.112614  0.120625 -0.052273  0.042366 -0.015655 -0.357210
V17     0.017127 -0.026184 -0.066732 -0.109206 -0.017231  0.007170 -0.450445
V18     0.007646  0.044843  0.051551 -0.018252  0.007006  0.025732 -0.185680
V19     0.013545 -0.022221 -0.030868 -0.002736 -0.030368 -0.020102  0.025331
V20     0.025094 -0.026151  0.005902  0.040795  0.013947  0.214989  0.044611
V21    -0.045074  0.019027 -0.019079  0.017719  0.034619  0.011179  0.026382
V22     0.013846 -0.076203 -0.050151 -0.047484 -0.034357 -0.010051  0.013931
V23     0.026488  0.050182  0.033183 -0.025524  0.078175 -0.160372 -0.040130
V24     1.000000 -0.031234 -0.027149 -0.002803  0.022525  0.012907 -0.047319
V25    -0.031234  1.000000 -0.107167  0.077033  0.074654 -0.031974 -0.037600
V26    -0.027149 -0.107167  1.000000 -0.018459  0.029184  0.025763  0.028723
V27    -0.002803  0.077033 -0.018459  1.000000  0.284592  0.041490  0.111691
V28     0.022525  0.074654  0.029184  0.284592  1.000000  0.060982  0.015048
Amount  0.012907 -0.031974  0.025763  0.041490  0.060982  1.000000  0.013115
Class  -0.047319 -0.037600  0.028723  0.111691  0.015048  0.013115  1.000000

[31 rows x 31 columns]

===== Describe =====
               Time            V1            V2            V3            V4  \
count  11959.000000  11959.000000  11959.000000  11959.000000  11959.000000
mean    8009.996822     -0.216230      0.277097      0.889505      0.282606
std     6204.332248      1.583914      1.308884      1.331824      1.478162
min        0.000000    -27.670569    -34.607649    -22.804686     -4.657545
25%     2542.000000     -0.978944     -0.261503      0.417186     -0.622456
50%     6662.000000     -0.340742      0.256346      0.951223      0.213029
75%    12382.000000      1.161273      0.883626      1.613678      1.159141
max    20642.000000      1.960497      9.092123      4.101716     11.927512

                 V5            V6            V7            V8            V9  \
count  11959.000000  11959.000000  11959.000000  11959.000000  11959.000000
mean      -0.086585      0.139986     -0.121943     -0.048727      0.911579
std        1.191776      1.306285      1.153899      1.246823      1.192349
min      -32.092129    -23.496714    -26.548144    -23.632502     -7.175097
25%       -0.688114     -0.622521     -0.591335     -0.185243      0.196741
50%       -0.183847     -0.146903     -0.094876      0.013616      0.894911
75%        0.346298      0.508432      0.431657      0.267560      1.589120
max       34.099309     21.393069     34.303177      5.499963     10.392889

       ...           V21           V22           V23           V24  \
count  ...  11958.000000  11958.000000  11958.000000  11958.000000
mean   ...     -0.061474     -0.153850     -0.033709      0.017113
std    ...      0.918705      0.626631      0.505355      0.591394
min    ...    -11.468435     -8.593642    -19.254328     -2.512377
25%    ...     -0.268151     -0.543613     -0.171833     -0.333251
50%    ...     -0.130062     -0.124900     -0.044299      0.072099
75%    ...      0.021687      0.234029      0.075686      0.401798
max    ...     22.614889      4.534454     13.876221      3.200201

                V25           V26           V27           V28        Amount  \
count  11958.000000  11958.000000  11958.000000  11958.000000  11958.000000
mean       0.104794      0.062891      0.008320      0.000271     62.352617
std        0.429413      0.561603      0.405100      0.261230    178.247010
min       -4.781606     -1.338556     -7.976100     -3.575312      0.000000
25%       -0.144092     -0.353864     -0.080064     -0.015461      5.000000
50%        0.143136      0.001972     -0.003039      0.015452     15.950000
75%        0.380076      0.409231      0.106344      0.073171     50.000000
max        5.525093      3.517346      8.254376      4.860769   7712.430000

              Class
count  11958.000000
mean       0.004349
std        0.065803
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 31 columns]

===== COLUMNS =====
Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11954,20631,1.504204,-0.411728,0.200090,-0.778753,-0.442232,-0.119677,-0.782660,-0.165178,0.691819,...,-0.136231,-0.217274,-0.143260,-1.057332,0.529188,-0.235062,-0.012089,0.000905,9.00,0.0
11955,20636,1.134994,0.096340,0.277921,0.319692,0.742800,1.611803,-0.458649,0.390012,1.424541,...,-0.395605,-0.743542,0.222256,-1.859104,-0.109777,0.279049,0.012398,-0.009090,0.99,0.0
11956,20638,-6.305012,3.944886,-4.707362,1.539602,-3.934785,-1.730565,-2.104936,3.843447,0.863458,...,0.073140,-0.039935,-0.108896,0.691434,-0.261979,-0.447540,0.212900,-0.031021,89.99,0.0
11957,20638,1.161960,-0.398297,1.123732,-0.474237,-1.226667,-0.519325,-0.804179,0.070134,3.262926,...,-0.121191,0.097255,0.050903,0.330479,0.315692,-0.712765,0.073836,0.028055,11.85,0.0
11958,20642,1.291096,-0.226628,0.708386,-0.719236,-0.659099,-0.273757,-0.612042,-0.111488,3.032258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data[["Class"]].value_counts()

Class
0.0      11906
1.0         52
Name: count, dtype: int64